#nav-links {
    text-decoration: none;
    color:black;
}


#nav-links.current {
    color: green     ;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    display: flexbox;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    gap: 10px;

}


.content {
    margin: 0;
    display: flexbox;
    padding: 15px 15px 15px 15px;
}

.posts-list {
    list-style: none;
    margin: 0;
    padding: 10px 0px 10px 15px;
}

.post-content {

}

.latest-posts {
    margin: 0;
}

.title-on-list {
    margin: 0;
    text-decoration-color: black;
}