.current {
    color: green;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    display: flexbox;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    gap: 10px;

}

a {
    text-decoration: none;
    color: black;
}
