<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="header">
      <h1 class="site-title"><a href="/">Photon Math</a></h1>
      {% include navigation.html %}
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>